
*{
    margin: 0;
}
.lf{
    float: left;
}
.rf{
    float: right;
}
.app-head{
    position: absolute;
    text-align: right;
    right: 2px;
    top: 20px;
}
.app-head>.app-head-console-item{
    text-align: center;
    display: inline-block;
    width: 30px;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
}
.app-head-box{
    position: relative;
    z-index: 500;
    height: 60px;
    background-color:#16898e ;
    -webkit-app-region: drag;
}
.box-card{
    width: 640px;
    height: 532px;
    background-color: #ffffff;
}

.main{
    height: calc(100vh - 60px);
    display: flex;
}
    .main-menu{
        width: 80px;
        height: 100%;
        padding:10px ;
        background-color: #13283b;
    }
        .menu-item{
            cursor: pointer;
            color: #ffffff;
        }

    .main-list{
        width: 260px;
        height: 100%;

    }
    .main-detail{
        flex: 1;
        height: 100%;
    }