
*{
    margin: 0;
}
body{
    overflow: hidden;
}
*::-webkit-scrollbar{
    width: 3px;
}
*::-webkit-scrollbar-thumb{
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: #C1C1C1;
}
*::-webkit-scrollbar-track {
    border-radius: 5px;
}
.lf{
    float: left;
}
.rf{
    float: right;
}
.app-head-left{
    position: absolute;
    height: 19px;
    left: 15px;
    top:10px;
}
.logo-title{
    font-size:14px;
    font-family:MicrosoftYaHei;
    font-weight:600;
    color:rgba(255,255,255,1);
}
.app-head-center{
    position: absolute;
    height: 19px;
    right: 100px;
    top:10px;
}
.app-head{
    position: absolute;
    text-align: right;
    right: 10px;
    top: 8px;
}
.app-head>.app-head-console-item{
    text-align: center;
    display: inline-block;
    width: 30px;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
}
.app-head-box{
    position: relative;
    z-index: 500;
    height: 39px;
    background-color:#0F8F94 ;
    -webkit-app-region: drag;
}
.box-card{
    width: 640px;
    height: 532px;
    background-color: #ffffff;
}

.main{
    height: calc(100vh - 60px);
    display: flex;
}
    .main-menu{
        width: 80px;
        height: 100%;
        padding:10px ;
        background-color: #13283b;
    }
        .menu-item{
            cursor: pointer;
            color: #ffffff;
        }

    .main-list{
        width: 260px;
        height: 100%;
        overflow-y: auto;
    }
    .main-detail{
        flex: 1;
        height: 100%;
        overflow-y: auto;
    }
.app-hailfellow-user-item{
    position: relative;
    height: 32px;
    line-height: 32px;
    padding: 8px 10px 5px 60px;
}
.app-hailfellow-user-item>img{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 20px;
    top: 8px;
    border-radius: 100%;
}
.icon-star {
    width: 70px;
    height: 50px;
    background: url("../../../assets/images/star.png") no-repeat;
    background-position: 0 0;
    cursor: pointer;
}
.icon-star.active{
    background-position: -3519px 0;
    transition: background 1s steps(55);
}