html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}
button,span,i,input,a{
    -webkit-app-region: no-drag;
}
.app-whole-box{
    height: 100%;
}
.app-head-box{
    background: #08979d;
}
.app-head{
    position: absolute;
    text-align: right;
    right: 15px;
    top: 10px;
}
.app-head>.app-head-console-item{
    text-align: center;
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    cursor: pointer;
}
.app-head>.app-head-console-item:hover{
    color: #4EEE94;
}
.app-head>.app-head-console-item:nth-child(2):hover{
    background: rgba(238,44,44, 1);
    color: #fff;
}
#app-login-wrap{
    height: 100%;
}
.app-login-wrap-head{
    width: 100%;
    height: 134px;
    background: url(../assets/images/top.png);
    background-size: 100% 100%;
}
.app-login-wrap-head img{
    width: 100%;
    height: 100%;
}
.app-login-wrap-content{
    width: 359px;
    margin: 20px auto 0px auto;
}
.app-login-wrap-content-user,.app-login-wrap-content-psd{
    width: 355px;
    height: 45px;
    border: 1px solid #E8E8E8;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.app-login-wrap-content-psd{
    margin-top: 20px;
}
.same i{
    padding: 0 10px;
    color: #B1B1B1;
    font-size: 24px;
}
.same input{
    width: 305px;
    height: 100%;
    border: 0;
    outline: 0;
    font-size: 15px;
}
.app-login-wrap-show{
    margin-top: 10px;
    text-align: center;
}
.app-login-wrap-show input{
    width:14px;
    height:14px;
    border:1px solid rgba(177,177,177,1);
    border-radius:50%;
    background-color: #fff;
}
.app-login-wrap-show span{
    width:60px;
    height:14px;
    font-size:14px;
    font-weight:400;
    color:rgba(80,80,80,1);
}
.app-login-wrap-show a{
    width:68px;
    height:14px;
    font-size:14px;
    font-weight:400;
    color:rgba(8,151,157,1);
}
.app-login-wrap-btn{
    margin-top: 25px;
}
.app-login-wrap-btn button{
    width:360px;
    height:40px;
    background:rgba(8,151,157,1);
    border-radius:24px;
    border: 0;
    outline: 0;
    font-size:20px;
    font-weight:400;
    color: #fff;
    letter-spacing: 2px;
    cursor: pointer;
}
.app-error-box{
    display: none;
    background: red;
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25px;
    line-height: 25px;
    font-size: 13px;
    text-align: center;
}
/* 忘记密码 */
.app-resetpsw-wrap-head{
    width: 100%;
    position: relative;
    height: 134px;
    background: url(../assets/images/resetpsw_top.png);
    background-size: 100% 100%;
}
.resetpsw-return-btn{
    color: #08979D;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}
.resetpsw-return-btn i{
    font-size: 26px;
    height: 36px;
}
#app-resetPsw-wrap .app-login-wrap-content-psd,#app-resetPsw-wrap .app-login-wrap-content-code {
    margin-top: 12px;
}
.border-input{
    height: 45px;
    border: 1px solid #E8E8E8;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#get-code-btn{
    width: 100px;
    background: #fff;
    padding: 0 16px;
    margin-left: 12px;
    cursor: pointer;
}
#get-code-btn:hover{
    color: #fff;
    background: #14a5ad;
}
#get-code-btn:disabled{
    cursor: default;
    color: #777;
    padding: 0 37px;
    background: #fff;
}
#get-code-btn:disabled:hover{
    color: #777;
    background: #fff;
}
.app-login-wrap-content-code{
    display: flex;
}
.app-login-wrap-content-code .border-input{
    display: inline-flex;
    flex: 1;
    align-items: center;
}
.app-login-wrap-content-code i{
    height: 24px;
}
.app-login-wrap-content-code input{
    width: auto;
}
/* 忘记密码 */
