.app-hailfellow-list-box{
    position: relative;
    height: 100%;
    overflow: hidden;
}
.app-hailfellow-list{
    position: absolute;
    width: 100%;
    height: 100%;
}
.app-hailfellow-list-item{
    height: 25px;
    line-height: 25px;
    cursor: pointer;
    padding: 0 5px 0 5px;
    font-size: 15px;
    font-weight: normal;
}
.app-hailfellow-child-user-list,.app-hailfellow-child-customer-list{
    position: relative;
    overflow-x: hidden;
    max-height: 345px;
}
.app-hailfellow-list-item:hover,.app-hailfellow-child-user-list li:hover,
.app-hailfellow-child-customer-list li:hover{
    background: #f4f4f4;
    cursor: pointer;
}
.app-hailfellow-list-item span{
    float: right;
}
.app-hailfellow-child-list{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 20;
}
.app-hailfellow-child-name{
    padding: 5px 0 0 5px;
    font-size: 16px;
    height: 25px;
    line-height: 25px;
}
.app-hailfellow-child-icon>span{
    float: right;
    cursor: pointer;
    padding: 0;
    font-size: 18px;
}
.app-hailfellow-child-icon span:hover{
    color: rgba(238,44,44, 1);
}
.app-hailfellow-child-department{
    padding:  0 5px 0 10px;
    height: 32px;
    line-height: 31px;
}
.app-hailfellow-child-department>span{
    float: right;
    display: inline-block;
}
.app-hailfellow-user-list{

}
.app-hailfellow-user-item{
    position: relative;
    height: 32px;
    line-height: 32px;
    padding: 8px 10px 5px 60px;
}
.app-hailfellow-user-item>img{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 20px;
    top: 8px;
    border-radius: 100%;
}
.app-hailfellow-child-customer-name{
    height: 25px;
    line-height: 25px;
    padding: 0 5px 0 5px;
    font-size: 14px;
    border: 1px solid #f4f4f4;
}
.app-hailfellow-child-customer-name>span{
    float: right;
}


.app-hailfellow-box{
    height: 100%;
    background: #f4f4f4;
}
.app-hailfellow-head{
    padding: 20px;
    font-size: 17px;
    font-weight: normal;
	font-stretch: normal;
}
.app-hailfellow-middle,.app-hailfellow-footer{
    position: relative;
    width: 80%;
    margin: 5px auto 5px auto;
}
.app-hailfellow-footer{
    margin: 25px auto 5px auto;
}
.app-hailfellow-title{
    font-size: 15px;
    color: #08979d;
    font-weight: bold;
}
.app-hailfellow-friendInfo{
    margin-top: 10px;
    -webkit-app-region: no-drag;
}
.app-hailfellow-friendInfo li:nth-child(3) .app-hailfellow-text{
    padding: 5px 0 3px 0;
}
.app-hailfellow-text{
    height:24px;
    line-height:24px;
    width:70px;
    text-align:justify;
    display:inline-block;
    overflow:hidden;
    vertical-align:middle;
    padding: 5px 0 5px 0;
    color: #959595;
}
.app-hailfellow-text>i{
    display:inline-block;
    width:100%;
    height:0;
}
.app-hailfellow-introduce{
    position: relative;
    padding: 0 0 5px 10px;
    width: 320px;
    height: 70px;
    overflow-x: hidden;
}
.app-hailfellow-friend-head{
    position: absolute;
    left: auto;
    right: 0;
    top: 20px;
    text-align: center;
}
.app-hailfellow-friend-head>img{
    width: 90px;
    height: 90px;
    border-radius: 100%;
}
.app-hailfellow-friend-head>p{
    padding: 5px 0 5px 0;
    font-size: 17px;
    color: #282828;
}
.app-hailfellow-introduce>p{
    width: 100%;
    word-wrap:break-word;
    word-break:break-all;
}
.app-hailfellow-datum{
    padding-top: 10px;
}
.app-hailfellow-datum .app-hailfellow-text{
    width: auto;
}
#app-hailfellow-edit{
    vertical-align: middle;
    padding-left: 5px;
    font-size: 18px;
    cursor: pointer;
}
#app-hailfellow-edit:hover{
    color: #08979d;
}
.app-hailfellow-buttons{
    position: absolute;
    bottom: 45px;
    right: 0;
}
.app-hailfellow-buttons li{
    margin: 15px 0 15px 0;
}
.app-hailfellow-buttons li>button{
    width: 175px;
    height: 25px;
    border: 0;
    border-radius: 3px;
    background: #08979d;
    color: #fff;
    cursor: pointer;
}
.app-hailfellow-buttons li>button:hover,.app-hailfellow-send-box button:hover{
    background: rgba(8,151,157,0.8);
}
.app-hailfellow-send-box{
    text-align: center;
    padding-top: 15px;
}
.app-hailfellow-send-box button{
    width: 325px;
    height: 30px;
    border: 0;
    border-radius: 3px;
    background: #08979d;
    color: #fff;
    cursor: pointer;
}
.app-hailfellow-child-group-list .app-hailfellow-user-item:hover{
    background: #f4f4f4;
    cursor: pointer;
}
.app-hailfellow-child-group-list{
    position: relative;
    height: 346px;
    overflow-x: hidden;
}
.app-hailfellow-contextMenu{
    display: none;
    position:absolute; 
    z-index:90; 
    border:1px solid #AEAEAE; 
    padding:2px;
    width:80px;
    border-radius:5px;
    background: #fff;
}
.app-hailfellow-contextMenu li{
    padding: 5px;
    cursor: pointer;
}
.app-hailfellow-menu-list{
    overflow: hidden;
    text-align: center;
}
.app-hailfellow-menu-list li{
    float: left;
    width: 33%;
    height: 35px;
    line-height: 35px;
    cursor: pointer;
    border-bottom: 1px solid #C5C5C5; 
}
.app-hailfellow-menu-list li:hover{
    color: #08979d;
}
.app-hailfellow-menu-list>.active{
    color: #08979d;
    background: #fff;
    border-bottom: 1px solid #08979d; 
}
.app-hailfellow-child-customer-console,.app-hailfellow-child-group-console{
    height: 30px;
    line-height: 30px;
    margin-top: 5px;
}
.app-hailfellow-child-customer-console-btn,
.app-hailfellow-child-group-console-btn{
    display: inline-block;
    width: 55px;
    height: 27px;
    text-align: center;
    cursor: pointer;
    margin: 5px 0 0 3px;
    border: 1px solid #C5C5C5;
}
.app-hailfellow-child-customer-console>.active,
.app-hailfellow-child-group-console>.active{
    background: #08979d;
    color: #fff;
    border: 0;
}
.app-hailfellow-child-customer-console>.active:hover,
.app-hailfellow-child-group-console>.active:hover{
    color: #fff;
}
.app-hailfellow-child-addUser{
    float: right;
    padding-right: 10px;
    cursor: pointer;
}
.app-hailfellow-child-customer-console>span:hover,
.app-hailfellow-child-group-console>span:hover{
    color: #08979d;
}