#app-hailfellow-section{
    background: #F4F4F4;
}
.app-hailfellow-list-box{
    position: relative;
    height: 100%;
    overflow: hidden;
}
.app-hailfellow-list{
    position: absolute;
    width: 100%;
    height: 100%;
}
.app-hailfellow-list-item{
    height: 25px;
    line-height: 25px;
    cursor: pointer;
    padding: 0 5px 0 5px;
    font-size: 15px;
    font-weight: normal;
}
.app-hailfellow-child-user-list,.app-hailfellow-child-customer-list{
    position: relative;
    overflow-x: hidden;
    max-height: 98%;
}
.app-hailfellow-list-item:hover,.app-hailfellow-child-user-list li:hover,
.app-hailfellow-child-customer-list li:hover{
    background: #f4f4f4;
    cursor: pointer;
}
.app-hailfellow-list-item span{
    float: right;
}
.app-hailfellow-child-list{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 20;
}
.app-hailfellow-child-name{
    padding: 5px 0 0 5px;
    font-size: 16px;
    height: 25px;
    line-height: 25px;
}
.app-hailfellow-child-icon>span{
    float: right;
    cursor: pointer;
    padding: 0;
    font-size: 18px;
}
.app-hailfellow-child-icon span:hover{
    color: rgba(238,44,44, 1);
}
.app-hailfellow-child-department{
    padding:  0 5px 0 10px;
    height: 32px;
    line-height: 32px;
    font-size: 13px;
    color: #282828;
}
.app-hailfellow-child-department>span{
    color: #C5C5C5;
    padding-right: 10px;
    display: inline-block;
}
.app-hailfellow-child-department>span>i{
    transition: transform 0.4s ease-out;
    font-size: 12px;
    display: block;
}
.app-hailfellow-child-customer-childlist .app-hailfellow-child-department{
    padding:  0 5px 0 20px;
    height: 32px;
    line-height: 32px;
}
.app-hailfellow-user-item{
    position: relative;
    height: 32px;
    line-height: 32px;
    padding: 8px 10px 5px 60px;
}
.app-hailfellow-user-item>img{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 20px;
    top: 8px;
    border-radius: 100%;
}
.app-hailfellow-child-customer-name{
    height: 30px;
    line-height: 30px;
    padding: 0 5px 0 6px;
    font-size: 14px;
    border-bottom: 1px solid #f4f4f4;
}
.app-hailfellow-child-customer-name>span{
    display: inline-block;
    padding-right: 20px;
}

.app-hailfellow-box{
    height: 600px;
    width: 590px;
    background: url('../images/hov_ban.png') no-repeat center;
    background-size: 100%;
    margin: auto;
}
.app-hailfellow-head{
    width: 475px;
    text-align: right;
    margin: auto;
    padding-top: 70px;
}
.app-hailfellow-head>span{
    padding-right: 30px;
    font-size: 17px;
}
.app-hailfellow-head>img{
    width: 105px;
    height: 105px;
    border-radius: 100%;
    border: 1px solid #f4f4f4; 
}
.app-hailfellow-content{
    width: 500px;
    margin: auto;
}
.app-hailfellow-title{
    padding-top: 30px;
    color: #FF5400;
    font-size: 17px;
    font-weight: bold;
}
.app-hailfellow-info{
    padding-top: 40px;
    overflow: hidden;
}
.app-hailfellow-info-item{
    overflow: hidden;
    height: 40px;
    line-height: 40px;
}
.app-hailfellow-info-item>div{
    width: 60px;
    text-align: justify; 
    float: left;
}
.app-hailfellow-info-item>div>span:after { 
    content: ""; 
    display: inline-block; 
    overflow: hidden; 
    width: 100%;
}
.app-hailfellow-info-item span{
    user-select: text!important;
}
.app-hailfellow-console-box{
    padding-top: 25px;
    text-align: right;
}
.app-hailfellow-console-box button{
    border: 0;
    color: #fff;
    height: 30px;
    width: 125px;
    cursor: pointer;
}
.app-hailfellow-console-box button:nth-child(1){
    background: #FFB800;
}
.app-hailfellow-console-box button:nth-child(2){
    background: #08979d;
}


/** list **/
.app-hailfellow-child-group-list .app-hailfellow-user-item:hover{
    background: #f4f4f4;
    cursor: pointer;
}
.app-hailfellow-child-group-list{
    position: relative;
    height: 346px;
    overflow-x: hidden;
}
.app-hailfellow-contextMenu{
    display: none;
    position:absolute; 
    z-index:90; 
    border:1px solid #AEAEAE; 
    padding:2px;
    width:80px;
    border-radius:5px;
    background: #fff;
}
.app-hailfellow-contextMenu li{
    padding: 5px;
    cursor: pointer;
}
.app-hailfellow-menu-list{
    overflow: hidden;
    text-align: center;
}
.app-hailfellow-menu-list li{
    float: left;
    width: 33%;
    height: 35px;
    line-height: 35px;
    cursor: pointer;
    border-bottom: 1px solid #C5C5C5; 
}
.app-hailfellow-menu-list li:hover{
    color: #08979d;
}
.app-hailfellow-menu-list>.active{
    color: #08979d;
    background: #fff;
    border-bottom: 1px solid #08979d; 
}
.app-hailfellow-child-customer-console,.app-hailfellow-child-group-console{
    height: 30px;
    line-height: 30px;
    margin-top: 5px;
}
.app-hailfellow-child-customer-console-btn,
.app-hailfellow-child-group-console-btn{
    display: inline-block;
    width: 55px;
    height: 27px;
    text-align: center;
    cursor: pointer;
    margin-left: 3px;
    border: 1px solid #C5C5C5;
    border-bottom: 0;
}
.app-hailfellow-child-customer-console>.active,
.app-hailfellow-child-group-console>.active{
    background: #08979d;
    color: #fff;
    border: 0;
}
.app-hailfellow-child-customer-console>.active:hover,
.app-hailfellow-child-group-console>.active:hover{
    color: #fff;
}
.app-hailfellow-child-addUser{
    float: right;
    padding-right: 10px;
    cursor: pointer;
}
.app-hailfellow-child-customer-console>span:hover,
.app-hailfellow-child-group-console>span:hover{
    color: #08979d;
}