*{
    font-family: "Microsoft YaHei";
    -webkit-user-select: none; 
    user-select: none;
}
*::-webkit-scrollbar{
    width: 3px;
}
*::-webkit-scrollbar-thumb{
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: #C1C1C1;
}
*::-webkit-scrollbar-track {
    border-radius: 5px;
}
html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}
button,span,input,textarea,a,li{
    -webkit-app-region: no-drag;
}
textarea{
    resize:none;
}
.app-index-shade{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    display: none;
    -webkit-app-region: no-drag;
}
.is-hidden{
    display: none;
}
.is-selected{
    color: #08979d;
}
.active{
    color: #08979d;
    background: #f4f4f4;
}
.app-head-box{
    position: relative;
    z-index: 500;
}
.app-head{
    position: absolute;
    text-align: right;
    right: 2px;
    top:0;
}
.app-head>.app-head-console-item{
    text-align: center;
    display: inline-block;
    width: 30px;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
}
.app-head>.app-head-console-item:hover{
    color: #4EEE94;
    background: #F5F5F5;
}
.app-head>.app-head-console-item:nth-child(2):hover{
    background: rgba(238,44,44, 1);
    color: #fff;
}
.app-index-left-box{
    width: 260px;
    height: 100%;
}
.app-index-left-head{
    width: 100%;
    height: 140px;
    background: #08979d;
}
.app-index-company-box{
    position: absolute;
    left: 20px;
    top: 100px;
    color: #fff;
    overflow: hidden;
    cursor: pointer;
    padding: 3px;
    -webkit-app-region: no-drag;
}
.app-index-company-box:hover{
    background: rgba(255,255,255,0.2);
}
.app-index-company-list{
    position: absolute;
    top: 127px;
    left: 30px;
    background: #fff;
    padding: 5px;
    z-index: 20;
    border-radius: 5px;
    font-size: 12px;
    box-shadow: 1px 1px 6px #333;
}
.app-index-company-list:before {
    content: '';
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-bottom-color: #fff;
    position: absolute;
    left: 90px;
    bottom: 100%;
}
.app-index-company-list>li{
    padding: 5px;
    cursor: pointer;
}
.app-index-company-list>li:hover{
    background: #F5F5F5;
}
.app-index-userInfo{
    position: absolute;
    left: 20px;
    top: 30px;;
    overflow: hidden;
    -webkit-app-region: no-drag;
}
.app-index-user-portrait{
    width: 60px;
    height: 60px;
    float: left;
}
.app-index-user-portrait>img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
.app-index-user-nickname{
    float: left;
    padding: 10px 5px 5px 15px;
    color: #fff;
}
.app-index-user-nickname-text{
    font-size: 16px;
}
.app-index-user-position{
    color: #08ced6;
    padding-top: 5px;
    font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
}
.app-index-user-introduce{
    position: absolute;
    top: 110px;
    left: 20px;
    color: #fff;
    width: 200px;
    font-size: 13px;
    -webkit-app-region: no-drag;
}
.app-index-user-introduce>p{
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis;
}
.app-index-left-body{
    height: 100%;
}
.app-index-search{
    width: 230px;
    height: 25px;
    line-height: 25px;
    margin: 1px auto 5px auto;
    background: #f4f4f4;
    -webkit-app-region: no-drag;
    border-radius: 5px;
}
.app-index-search>input{
    border: 0;
    width: 195px;
    background: #f4f4f4;
    padding-left: 10px;
}
.app-index-search>span{
    cursor: pointer;
}
.app-index-search>span:hover{
    color: #08979d; 
}
.app-index-menu-box{
    width: 45px;
    height: 100%;
    float: left;
    text-align: center;
    -webkit-app-region: no-drag;
    background: #f4f4f4;
}
.app-menu-list>li{
    width: 45px;
    height: 45px;
    line-height: 45px;
    cursor: pointer;
}
.app-menu-list>li:hover{
    color: #08979d;
}
.app-menu-list>li>i{
    font-size: 23px;
}

/* menu > 个人设置 css */
.app-setting-options-box{
    background: #fff;
    left: 12px;
    top: -136px;
    border-radius: 5px;
    width: 120px;
    text-align: center;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
    
}
.app-setting-options-box .app-setting-option-item{
    color: #333;
    padding: 10px 0;
    cursor: pointer;
}
.app-setting-options-box .app-setting-option-item:hover{
    background:#D4EDEE;
}

.app-setting-modals-box{
    background: #fff;
    left: 12px;
    top: -136px;
    border-radius: 5px;
    width: 480px !important;
    text-align: center;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
    
}
/* menu > 个人设置 css */

.app-index-bottom-menu{
    position: absolute;
    bottom: 0px;
}
.icon-guanbi2:hover{
    color: red;
}
.app-index-change-list-box{
    position: relative;
    height: calc(100% - 140px);
    overflow-x: hidden;
    -webkit-app-region: no-drag;
}
.app-chats-list{
    position: relative;
}
.app-chats-list-item{
    position: relative;
    height: 42px;
    padding: 5px 15px 5px 60px;
    cursor: pointer;
    border-bottom: 1px solid #F5F5F5;
}
.app-chats-list-item:hover{
    background: rgba(244,244,244,0.7);
}
.app-chats-list-item:hover .app-chats-delChat{
    display: block;
}
.app-chats-list-item .app-chats-delChat{
    display: none;
    position: absolute;
    right: 0px;
    top: -6px;
    color: #A9A9A9;
}
.app-chats-list-item img{
    position: absolute;
    left: 15px;
    top: 8px;
    width: 36px;
    height: 36px;
    border-radius: 100%;
}
.app-chats-list-item span{
    display: inline-block;
    margin-top: 4px;
}
.app-chats-list-item p{
    display: block;
    line-height: 18px;
    font-size: 11px;
    color: #999;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-top: 2px;
}
.js-menu-content{
    height: 100%;
}
.js-content{
    position: absolute;
    left: 260px;
    top: 0;
    width: calc(100% - 260px);
    height: 100%;
    overflow: hidden;
    border-left: 1px solid #E3E3E3;
    background: url(../images/ban.png) no-repeat center;
}
section{
    width: calc(100% - 260px);
    height: 100%;
    overflow: hidden;
}
.app-section{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  /* transform: translateX(-20px);
  transition: visibility 0s .12s linear , opacity .12s ease-in, transform .12s ease-in; */
}
.app-section.is-shown {
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
    /* transform: translateX(0);
    transition: visibility 0s 0s linear , opacity .36s ease-out, transform .36s ease-out; */
}
.app-currency-title{
    padding: 15px;
    font-size: 19px;
}
.app-page-title{
    font-size: 15px;
    color:#08979d;
}

.color1{
    color:#959595;
}
.color2{
    color:#08979d;
}