.app-interview-box{
    width: calc(100% - 240px);
}
.app-interview-list{
    -webkit-app-region: no-drag;
}
.app-interview-list-title{
    display: inline-block;
    background: #FCFCFC;
    width: 100%;
    height: 25px;
    line-height: 25px;
    padding-left: 5px;
    cursor: pointer;
    overflow: hidden;
}
.app-interview-list-title:hover{
    color: #08979d;
}
.app-interview-user-item{
    position: relative;
    height: 42px;
    padding: 5px 10px 5px 50px;
    cursor: pointer;
    border-bottom: 1px solid #F5F5F5;
}
.app-interview-user-item:hover{
    background: #f4f4f4;
}
.app-interview-user-item img{
    position: absolute;
    left: 5px;
    top: 8px;
    width: 36px;
    height: 36px;
    border-radius: 100%;
}
.app-interview-user-item span{
    display: inline-block;
    max-width: 45px;
}
.app-interview-user-item p{
    display: block;
    font-size: 10px;
    color: #999;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.app-interview-icon{
    float: right;
    padding-right: 15px;
}
.app-interview-box{
    height: 100%;
}
.app-interview-info-body{
    width: 90%;
    height: 260px;
    background: #cbe1e2;
    margin:  5px auto 10px auto;
    text-align: center;
}
.app-interview-icon-box{
    padding-top: 100px;
    line-height: 30px;
    color: #08979d;
}
.app-interview-icon-box i{
    font-size: 35px;
    cursor: pointer;
}
.app-interview-icon-box span{
    font-size: 14px;
}
.app-interview-info-footer{
    width: 90%;
    margin:  5px auto 10px auto;
    -webkit-app-region: no-drag;
}
.app-interview-info-title{
    font-size: 15px;
}
.app-interview-resume .app-interview-resume-title{
    height:24px;
    line-height:24px;
    width:70px;
    text-align:justify;
    display:inline-block;
    overflow:hidden;
    vertical-align:middle;
    padding: 5px 0 4px 0;
    color: #959595;
}
.app-interview-resume .app-interview-resume-title>i{
    display:inline-block;
    width:100%;
    height:0;
}
.app-interview-resume-text{
    padding-left: 5px;
}
#resume-info{
    cursor: pointer;
}
#app-interview-score{
    float: right;
    cursor: pointer;
}
.app-interview-score-box{
    -webkit-app-region: no-drag;
    width: 80%;
    margin: 50px auto 10px auto;
}
.app-interview-slider-name{
    padding: 10px 0 10px 0; 
}
.app-interview-score-content{
    margin-top: 25px;
}
.app-interview-score-content textarea{
    width: 100%;
}
.app-interview-score-sub{
    text-align: right;
}