.app-interview-box{
    width: calc(100% - 240px);
}
.app-interview-list{
    -webkit-app-region: no-drag;
}
/* list */

.app-interview-list-title{
    display: inline-block;
    background: #e8e8e8;
    width: 100%;
    height: 25px;
    line-height: 25px;
    padding: 5px;
    cursor: pointer;
    border-bottom: 1px solid #F4F4F4;
}
.app-interview-list-title:hover{
    color: #08979d;
}
.app-interview-list-title>span{
    display: inline-block;
    float: right;
    padding-right:15px;
}
.app-interview-list-title>span>i{
    font-size: 13px;
    color: #959595;
    display: block;
    transition: transform 0.4s ease-out;
}
.app-interview-user-item{
    position: relative;
    height: 42px;
    padding: 5px 10px 5px 50px;
    cursor: pointer;
    border-bottom: 1px solid #F5F5F5;
}
.app-interview-user-item:hover{
    background: #f4f4f4;
}
.app-interview-user-item img{
    position: absolute;
    left: 5px;
    top: 8px;
    width: 36px;
    height: 36px;
    border-radius: 100%;
}
.app-interview-user-item span{
    display: inline-block;
    max-width: 45px;
}
.app-interview-user-item p{
    display: block;
    font-size: 10px;
    color: #999;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/* list end */

/* introduction */
.app-interview-introduction-box{
    padding: 30px;
    height: 100%;
    background: #f4f4f4;
    overflow: hidden;
}
.app-interview-introduction-title{
    font-size: 14px;
    color: #959595;
}
.app-interview-left-box{
    width: 65%;
    height: 550px;
    float: left;
    position: relative;
    overflow-x: hidden;
    -webkit-app-region: no-drag;
}
.app-interview-introduction-basic-name-box{
    margin: 15px 0 15px 0;
}
.app-interview-introduction-basic-name{
    font-size: 18px;
}
.app-interview-introduction-basic-position{
    color: #08979d;
    padding-left: 5px;
}
.app-interview-introduction-basic-info{
    color: #535353;
    font-size: 14px;
    line-height: 30px;
}
.app-interview-introduction-work-experience{
    margin-top: 25px;
}
.app-interview-introduction-timeline{
    padding-top: 10px;
}
.app-interview-introduction-timeline p{
    font-size: 13px;
}
.app-interview-introduction-timeline i{
    font-size: 13px;
    width: auto;
    height: auto;
    line-height: 1;
    left: 0;
}
.app-interview-right-box{
    width: 35%;
    float: right;
    height: 100%;
}
.app-interview-console-box{
    position: fixed;
    right: 30px;
}
.app-interview-right-icon{
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 100%;
    background: #fff;
    text-align: center;
    cursor: pointer;
    font-size: 21px;
    margin-top: 10px;
}
.app-interview-conversation button{
    width: 150px;
    height: 35px;
    border-radius: 10px;
    border: 0;
    color: #fff;
    margin-top: 45px;
    background: #08979d;
    cursor: pointer;
}
.app-interview-evaluate{
    margin-top: 15px;
}
.app-interview-evaluate-content{
    font-size: 14px;
    padding-top: 5px;
    color: #535353;
}
/* introduction end */

