<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <link rel="stylesheet" href="./css/index.css">
  <link rel="stylesheet" type="text/css" href="../../assets/icons/iconfont.css">

</head>

<body>
  <!-- dev -->
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <!-- 引入组件库 -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <!-- prod
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script> -->
  <main>
    <div class="app-head-box">
      <div class="app-head">
        <span @click="minimizeWin" class="app-head-console-item icon iconfont" title="最小化">&#xe603;</span>
        <span @click="closeWin" class="app-head-console-item icon iconfont" title="关闭">&#xeca0;</span>
      </div>
    </div>
    <div class="main">

      <div class="main-menu lf">
        <div class="menu-item" @click="switchOver('write')">写邮件</div>
        <div class="menu-item" @click="switchOver('inbox')">收件箱</div>
        <div class="menu-item" @click="switchOver('contacts')">通讯录</div>
        <div class="menu-item" @click="switchOver('draft')">草稿箱</div>
        <div class="menu-item" @click="switchOver('sent')">已发送</div>
        <div class="menu-item" @click="switchOver('trash')">垃圾箱</div>
      </div>
      <div class="main-list" v-loading="listLoading">
        <div v-if="tabName === 'write'">write</div>
        <div v-else-if="tabName === 'contacts'">
          <dept-list :dataList="deptAndUsers"></dept-list>
          <el-collapse>
            <el-collapse-item v-for="dept in deptAndUsers" :key="dept.deptId" class="text item" :title="dept.deptName">
              <div v-for="user in dept.users" :key="user.id" class="user item">
                <div class="app-hailfellow-user-item" data-id="2127">
                  <img class="layui-circle"
                    :src="formatImgUrl(user.picUrl)">
                    <span>{{user.realName}}</span>
                  </div>
              </div>
            </el-collapse-item>
          </el-collapse>
        </div>
        <div v-else>
          <div v-for="mail in emailList" :mail="mail" @click="readMail(mail.uid)">
            <div>{{mail.date}}</div>
            <div>{{mail.from}}</div>
            <div>{{mail.subject}}</div>
            <div class="icon-star" :class="{active: hasStar(mail.flags)}" @click.stop="starMail(mail.uid, mail.flags)"></div>
          </div>
        </div>
      </div>
      <div class="main-detail" v-loading="detailLoading">
        <div>{{mailDetail.date}}</div>
        <div>{{mailDetail.from}}</div>
        <div>{{mailDetail.to}}</div>
        <div>{{mailDetail.subject}}</div>
        <div v-html="mailDetail.content">
        </div>
      </div>
    </div>
  </main>
  <script type="text/x-template" id="dept-list">

  </script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <script src="./js/index.js"></script>
</body>

</html>